div {
       text-align: center;
        font-size: 50px;
        font-family: 'Spartan', sans-serif;
        font-weight: 400;
        font-style: normal;
        border: #002157 4px; 
        cursor: cell;
      }

      body {
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  background-color: #002157;
  box-shadow: 10px 20px 5px;

  }

.wrapper {
  display: block;
  width: 100vw;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.center {
  position: relative;
}

#image1 {
  filter: brightness(80%);
  filter: blur(5px);
  transition: 1s;
}
#image1:hover {
  filter: brightness(80%);
  filter: blur(0px);
  transition: 1s;
}

#title {
  background-color: #002157;
  color: red;
  text-shadow: 0 0 20px red;
  font-size: 60px;
  font-weight: 600;
}
#title:hover{
    color: red;
  text-shadow: 0 0 35px red;
    transition: .5s;
  }
.glow {
  font-size: 80px;
  color: pink;
  position: absolute;
  top: 40%;
  left: 40%;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.glow:hover {
  color: red;
  transition: 1s;
  filter: blur(0px);
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
  }
  
  to {
    text-shadow: 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px red;
  }
}

      