div {
       text-align: left;
        font-size: 30px;
        font-family: 'Spartan', sans-serif;
        font-weight: 400;
        font-style: normal;
        border: #252525 4px; 
        cursor: cell;
      }

      body {
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  background-color: #252525;
  box-shadow: 10px 10px 5px;

  }

.wrapper {
  display: block;
  width: 100vw;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.center {
  position: relative;
}

#title {
  background-color: #252525;
  color: red;
  text-shadow: 0 0 10px red;
  font-size: 60px;
  font-weight: 600;
}
#title:hover{
    color: red;
  text-shadow: 0 0 25px red;
    transition: .5s;
  }
#planet1 {
  background-color: #252525;
  color: #d54498;
  text-shadow: 0 0 10px #d54498;
  font-size: 40px;
  font-weight: 600;
}
#planet1:hover{
    color: #d54498;
  text-shadow: 0 0 25px #d54498;
    transition: .5s;
  }

  #image1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 1224px;
    z-index: 0;
}

  #image1:hover {
}

.svg_item1 {
  position: absolute;
  scale: 115px;
  top: 70px;
  left: 315px;
  width: 160px;
  fill: #343534;
  cursor: pointer;
  filter: drop-shadow(0 0 30px #333);
} 

.svg_item1:hover {
  fill: #cf2d27;
  transition: 1s;
   filter: drop-shadow(10px 10px 60px #cf2d27);
} 
#svg_item2 {
  position: absolute;
  scale: 115px;
  top: 80px;
  left: 804px;
  transform: rotate(90deg);
  width: 160px;
  fill: #343534;
  cursor: pointer;
  filter: drop-shadow(0 0 30px #333);
} 

#svg_item2:hover {
  fill: #00a1e0;
  transition: 1s;
    filter: drop-shadow(10px 10px 60px #00a1e0);
} 

#svg_item3 {
  position: absolute;
  scale: 115px;
  top: 570px;
  left: 318px;
  transform: rotate(-90deg);
  width: 160px;
  fill: #343534;
  cursor: pointer;
  filter: drop-shadow(0 10px 30px #333);
} 

#svg_item3:hover {
  fill: #c5df9b;
  transition: 1s;
  filter: drop-shadow(10px 10px 60px #c5df9b);
} 

#svg_item4 {
  position: absolute;
  scale: 115px;
  top: 570px;
  left: 796px;
  transform: rotate(-180deg);
  width: 160px;
  height: 150px;
  fill: #343534;
  cursor: pointer;
  filter: drop-shadow(0 10px 30px #333);
} 

#svg_item4:hover {
  fill: #efd613;
  transition: 1s;
  filter: drop-shadow(10px 10px 60px #efd613);
} 


#svg_item5 {
  position: absolute;
  scale: 115px;
  top: 670px;
  left: 560px;
  transform: rotate(-137deg);
  width: 160px;
  height: 150px;
  fill: #d54498;
  cursor: pointer;
  filter: drop-shadow(0 10px 25px #d54498);
} 

#svg_item5:hover {
  fill: red;
  transition: 1s;
  filter: drop-shadow(10px 10px 60px red);
} 

}